# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
.env*
/build
/node_modules

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.idea
.idea/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/jt.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/code-comments.xml
.idea/workspace.xml
.idea/aws.xml
.idea/shelf